<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>
  <div class= "row">
    <ul>
      <% @flats.each do |flat|%>
        <div class="col-md-4">
          <div class="flat-card">
            <div class="flat-card-content">
              <div class="flat-card-title">
                <h4><%= flat.name%></h4>
              </div>
              <p><%= flat.description %></p>
              <div class="flex">
                <div class="flex align-items-center">
                  <i class="fa-solid fa-people-line"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <li><%=flat.name  %></li>
      <% end %>
    </ul>
  </div>

</div>
